#header {
    padding: 20px 0; 
    
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,0.07);
}

.header-container {
    width: 1200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-box {

    /* 마우스 오른쪽 버튼 클릭시 */


    display:flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}

.header-logo {
    color: rgba(0,0,0,1);
    font-size: 40px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.4px;
}
.header-right-box {
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.header-search-input-box {
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 43px ;
    padding: 0 10px 0 12px;
    width: 300px;
    height: 50px;

    display:flex;
    align-items: center;
    gap: 5px;
}
.header-search-input {
    flex:1;

    border:none;
    background: none;
    outline: none;

    color: rgba(0,0,0,6);
    font-size: 17px;
    font-weight: 400;
    line-height: 140%;
}
.b1 {
    border: none;
    background-color: white;
    color:rgba(0,0,0,3);
   
    font-size: 17px;
    font-weight: 400;
    line-height: 140%;
}
.b1:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
    color:rgba(0,0,0,3);
    font-size: 17px;
    font-weight: 400;
    line-height: 140%;
  

}
.admin {
    color: red;
    font-size: 20px;
    font-weight: 600;
}
.admin:hover {
    cursor: pointer;
   
   
}