#main-top-wrapper {

    
    
}
.main-top-contents-box {
margin-top: 20px;
}
.main-top-contents {
   
display:flex;
flex-wrap: wrap;
justify-content: center;

}
.main-pagination {
    display: flex;
    justify-content: center;
}